.el-header {
    width: 100%;
    position:absolute;
    left: 0;
    padding: 0;
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 65px;
    top: 0;
}
.el-main {
    width: 100%;
    margin-top: 60px;
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    height: 850px;
}
.el-footer {
    bottom: 0;
    width: 100%;
    position:fixed;
    left: 0;
    padding: 0;
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 65px;
    font-size: 10px;
}